/Contribute.eid.poc.sln.DotSettings.user

/Contribute.eid.poc.v11.suo

/Contribute.eid.poc.v12.suo

/Contribute.eid.poc/Contribute.eid.poc.csproj.user
/Contribute.eid.poc/obj
/Contribute.eid.poc/bin
/Contribute.eid.poc.Tests/obj
/Contribute.eid.poc.Tests/bin
